body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;

}

nav ul {
    position: absolute;
    list-style: none;
    padding: 0;
    top: 100px;
    right: 20px;

}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
    color: salmon;
}
header {
    text-align: center;
    padding: 5em 0;
    background: url('photo.jpg') no-repeat center center/cover;
    padding: 300px;
}

header .h1 {
    position: absolute;
    left: 100px;
    top: 400px; 
}
header .h1 h1{
    font-family: Arial, Helvetica, sans-serif;
}

header p {
    font-size: 1em;
    margin: 0;
    font-family: cursive;
    color: salmon;
}


section {
    padding: 2em;
    text-align: center;
}

#about, #portfolio, #contact {
    background-color: #1e1e1e;
    margin: 1em 0;
}
#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#about a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #383636;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: -3px 3px salmon;
}
#about img{
    width: 250px;
    height: 250px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}